<nav>
    <div class="site-title">
      <a href="/runs"><h1>Stride Tracker</h1></a>
      <p>Remembering your runs so you dont have to.</p>
    </div>
    <ul>
      <li><a href="/runs">Runs</a></li>
      <li><a href="/runs/create">New Run</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>