<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p> This website has been created as part of a project for CS 348 at Purdue University. 
        The idea is to practice database accessing as well as basic web development. This 
        site allows for users to log/delete runs as well as see former runs. </p>
  </div>


</body>
</html>