@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
    body{
      max-width: 1200px;
      margin: 20px auto;
      padding: 0 20px;
      font-family: 'Noto Serif', serif;
      max-width: 1200px;
    }
    p, h1, h2, h3, a, ul{
      margin: 0;
      padding: 0;
      text-decoration: none;
      color: #222;
    }

    /* nav styles */
    nav{
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd;
      text-transform: uppercase;
    }
    nav ul{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    nav li{
      list-style-type: none;
      margin-left: 20px;
    }
    nav li:hover a{
      color: crimson;
    }
    nav h1{
      font-size: 3em;
    }
    nav p, nav a{
      color: #777;
      font-weight: 300;
    }
    h2{
      margin-bottom: 20px;
    }
    h3{
      text-transform: capitalize;
      margin-bottom: 8px;
    }
    .content{
      margin-left: 20px;
    }

    /* index styles */
    .runs a{
      display: inline-block;
      margin: 20px 20px;
      padding-left: 30px;
      border-left: 6px solid crimson;
    }
    .runs a:hover h3{
      color: crimson;
    }

    /* details styles */
    .details{
      position: relative;
    }

    .delete, .edit button{
      display: flex; /* Use flexbox */
      align-items: center; /* Center items vertically */
      background-color: #ff5252; /* Crimson color */
      color: #fff; /* White text color */
      position: absolute; 
      top: 0;
      right: 0px;
      border-radius: 4px;
      border: none;
      padding: 8px;
      width: 80px;
      font-size: 1em; 
      letter-spacing: 1px; /* Increased letter spacing for readability */
      font-family: 'Noto Serif', serif;
    }
    
    .delete svg, .edit svg {
      margin-left: 5px; 
    }

    .delete:hover, .edit button:hover{
      background-color: #ff7675; /* Darker shade of crimson on hover */
    }

    /*edit styles*/
    .edit form{
      max-width: 400px;
      margin: 0 auto;
    }
    .edit input,
    .edit textarea{
      display: block;
      width: 100%;
      margin: 10px 0;
      padding: 8px;
    }
    .edit label{
      display: block;
      margin-top: 24px;
    }
    textarea{
      height: 120px;
    }
    

    /* create styles */
    .create-run form{
      max-width: 400px;
      margin: 0 auto;
    }
    .create-run input,
    .create-run textarea{
      display: block;
      width: 100%;
      margin: 10px 0;
      padding: 8px;
    }
    .create-run label{
      display: block;
      margin-top: 24px;
    }
    textarea{
      height: 120px;
    }
    
    
    .create-run button {
      background-color: #ff5252; /* Crimson color */
      color: #fff; /* White text color */
      padding: 10px 20px; /* Larger padding for better touch target */
      border: none; /* No border */
      border-radius: 4px; /* Rounded corners */
      font-size: 1.2em; /* Larger font size */
      letter-spacing: 1px; /* Increased letter spacing for readability */
      font-family: 'Noto Serif', serif;
      cursor: pointer;
      transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    }
    
    .create-run button:hover {
      background-color: #ff7675; /* Darker shade of crimson on hover */
    }

    /* sign in styles */
    .sign-in form{
      max-width: 400px;
      margin: 0 auto;
      margin-top: 12%;
      border: 3px solid #f5b7b1;
      border-radius: 8px;
      padding: 30px;
    }
    .sign-in input{
      display: block;
      width: 100%;
      margin: 10px 0;
      padding: 8px;
      border: 2px solid #636363;
      border-radius: 6px;
    }
    .sign-in label{
      display: block;
      margin-top: 24px;
    }
    .sign-in button {
      background-color: #ff5252; /* Crimson color */
      color: #fff; /* White text color */
      padding: 8px 16px; /* Larger padding for better touch target */
      margin: 4px;
      border: none; /* No border */
      border-radius: 4px; /* Rounded corners */
      font-size: 1em; 
      letter-spacing: 1px; /* Increased letter spacing for readability */
      font-family: 'Noto Serif', serif;
      cursor: pointer;
      transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    }
    .sign-in button:hover {
      background-color: #ff7675; /* Darker shade of crimson on hover */
    }

    /* filter styles */

    .filter-container{
        position: relative;
        display: block;
        text-align: right;
    }

    .filter-input-container{
      position: absolute;
      top: auto;
      display: inline-block;
      max-width: 160px;
      border-left: none;
      background-color: #f9f9f9;
      border-radius: 0px 0px 4px 4px;
      max-width: 160px;
      min-height: fit-content;
      text-align: right;
      font-size: .75em; 
      letter-spacing: 1px; /* Increased letter spacing for readability */
      font-family: 'Noto Serif', serif;
    }

    .filter-input-container button{
      background-color: #ff5252; /* Crimson color */
      color: #fff;
      position: relative;
      border-radius: 4px;
      border: none; 
      margin-bottom: 4px;
      font-size: .75em; 
      letter-spacing: 1px; /* Increased letter spacing for readability */
      font-family: 'Noto Serif', serif;
    }

    .filter-input-container button:hover, .filter-button:hover{
      background-color: crimson;
    }

    .filter-input-container label{
      /* color: black;
      font-size: .65em;
      font-family: 'Noto Serif', serif; */
      max-width: 160px;
    }

    .filter-input-container input{
      color: black;
      border: 1px solid #777;
      border-radius: 2px;
      text-align: right;
      font-size: .75em;
      font-family: 'Noto Serif', serif;
      min-width: 130px;
      margin-top: 2px;
      margin-bottom: 4px;
    }

    .filter-button {
        background-color: #ff5252; /* Crimson color */
        color: #fff; /* White text color */
        border-radius: 4px;
        border: none;
        padding: 8px;
        font-size: 1em; 
        letter-spacing: 1px; /* Increased letter spacing for readability */
        font-family: 'Noto Serif', serif;
        cursor: pointer;
    }

    .filter-dropdown {
        position: absolute;
        top: 100%;
        right: 0%;
        margin-top: 10px;
        background-color: #f9f9f9;
        min-width: 160px;
        border-radius: 4px;
        display: none;
        text-align: right;
        z-index: 1;
    }

    .filter-dropdown a {
        color: black;
        border-right: 6px solid crimson;
        border-left: none;
        border-radius: 2px;
        padding: 12px 16px;
        margin: 4px;
        text-decoration: none;
        display: block;
    }

    .filter-dropdown a:hover {
        background-color: #f1f1f1;
        color: crimson;
    }

    .filter-dropdown a.hidden {
      display: none;
  }

